<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Genesis — Chest</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/pstyle.css" />
</head>
<body class = "fade-in">
  <header>
    <div class="profile-image-container">
      <img src="/images/profile.jpg" alt="User Profile" class="profile-image" />
      <a href="user" class="profile-button-link">
      <button class="profile-button">User Profile</button>
      </a>
    </div>

    <img src="/images/sym.png" alt="Genesis Symbol" class="center-image" />
    <h1 style="font-size: 60px;">Genesis</h1>
    <p>Your journey begins here.</p>
  </header>
  
  <main>
    <section class="intro">
      <h2>Section: Chest</h2>
      <p>Explore all disorders, syndromes, or genes beginning with the body part chest.</p>

      <!-- Placeholder for future entries -->
      <div class="disorder-list">
        <p style="text-align: center; margin-top: 30px; color: #555;">
          Content coming soon...
        </p>
      </div>

      </section>

      <!-- <div class = "placeholder-container">
        <h2 style = "margin-top: 50px;" class = "centered-text"><a>Marfan Syndrome</a></h2>
        <h2 style = "margin-top: 50px;" class = "centered-text"><a>Poland Syndrome</a></h2>
        <h2 style = "margin-top: 50px;" class = "centered-text"><a>Tietze Syndrome</a></h2>
      </div> -->


  </main>

  <footer>
    <p>&copy; 2025 Genesis. All rights reserved.</p>
  </footer>
  <script src="/js/script.js"></script>
</body>
</html>
