<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Genesis</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/style2.css" />
</head>

<body class="fade-in">
  <header>
    <div class="profile-image-container">
      <img src="/images/profile.jpg" alt="User Profile" class="profile-image" />
      <a href="login" class="profile-button-link">
        <button class="profile-button">User Profile</button>
      </a>
    </div>


    <img src="/images/sym.png" alt="Genesis Symbol" class="center-image" />
    <h1 style="font-size: 100px;">Genesis</h1>
    <p>Your journey begins here.</p>
  </header>

  <main>
    <section class="intro">
      <div id="welcome-screen">
        <h2 style="font-size: 60px;">Welcome</h2>
      </div>


      <!-- Search bar -->
      <div class="search-bar hidden" id="search-bar">
        <input type="text" id="search-input" placeholder="Search disorders, syndromes, or genetic defects..." />
        <button id="search-button">Search</button>
      </div>

      <div class="alphabet-grid">
        <!-- A-Z buttons -->
        <a href="/A">A</a>
        <a href="/B">B</a>
        <a href="/C">C</a>
        <a href="/D">D</a>
        <a href="/E">E</a>
        <a href="/F">F</a>
        <a href="/G">G</a>
        <a href="/H">H</a>
        <a href="/I">I</a>
        <a href="/J">J</a>
        <a href="/K">K</a>
        <a href="/L">L</a>
        <a href="/M">M</a>
        <a href="/N">N</a>
        <a href="/O">O</a>
        <a href="/P">P</a>
        <a href="/Q">Q</a>
        <a href="/R">R</a>
        <a href="/S">S</a>
        <a href="/T">T</a>
        <a href="/U">U</a>
        <a href="/V">V</a>
        <a href="/W">W</a>
        <a href="/X">X</a>
        <a href="/Y">Y</a>
        <a href="/Z">Z</a>
      </div>

      <p style="font-size: 12px; margin-top: 40px;">Search according to target physical region</p>
      <div class="image-container">
        <img id="anatomy-image" src="/images/anatomy.png" alt="Anatomy" />
        <!-- Buttons on anatomy image -->
        <a href="/Head"><button class="body-btn" style="top: 10%; left: 50%;">Head</button></a>

        <a href="/LA"><button class="body-btn" style="top: 30%; left: 35%;">Left Arm</button></a>
        <a href="/RA"><button class="body-btn" style="top: 30%; left: 65%;">Right Arm</button></a>

        <a href="/LH"><button class="body-btn" style="top: 50%; left: 30%;">Left Hand</button></a>
        <a href="/RH"><button class="body-btn" style="top: 50%; left: 70%;">Right Hand</button></a>

        <a href="/Chest"><button class="body-btn" style="top: 30%; left: 50%;">Chest</button></a>
        <a href="/Stomach"><button class="body-btn" style="top: 40%; left: 50%;">Stomach</button></a>
        <a href="/Groin"><button class="body-btn" style="top: 50%; left: 50%;">Groin</button></a>
        <a href="/LT"><button class="body-btn" style="top: 60%; left: 42%;">Left Thigh</button></a>
        <a href="/RT"><button class="body-btn" style="top: 60%; left: 58%;">Right Thigh</button></a>

        <a href="/LF"><button class="body-btn" style="top: 90%; left: 42%;">Left Foot</button></a>
        <a href="/RF"><button class="body-btn" style="top: 90%; left: 58%;">Right Foot</button></a>


      </div>
      <div id="zoom-lens"></div>
    </section>

    <section class="intro">

      <div class="stats-overview-container">
        <p style="font-size: 20px;">Genesis is a website that catalogs all the disorders, syndromes and genetic
          mutations. It is used for research, knowledge and education</p>
        <div class="stat-card">
          <div class="stat-icon-circle">
            <span class="stat-logo">📊</span>
          </div>
          <p style="font-weight: bold;">178</p>
          <p class="stat-text">Disease Datasets</p>
        </div>
        <div class="stat-card">
          <div class="stat-icon-circle">
            <span class="stat-logo">📚</span>
          </div>
          <p style="font-weight: bold;">1124</p>
          <p class="stat-text">Disease Demographies</p>
        </div>
        <div class="stat-card">
          <div class="stat-icon-circle">
            <span class="stat-logo">🧠</span>
          </div>
          <p style="font-weight: bold;">2351</p>
          <p class="stat-text"><a href="/pasp" style="color: inherit; text-decoration: none;">Orphan Diseases</a>
          </p>
        </div>
  
        <div class="stat-card">
          <div class="stat-icon-circle">
            <span class="stat-logo">🧬</span>
          </div>
          <div class="stat-dropdown-container">
            <p style="font-weight: bold;">7551</p>
            <p class="stat-text">Genetic Mutations</p>
            <div class="dropdown-content">
              <div><a href="/pgene.html" style="color: inherit; text-decoration: none;">Mutation Genes</a></div>
              <div><a href="/pphen" style="color: inherit; text-decoration: none;">Mutation Phenotypes</a></div>
            </div>
          </div>
        </div>
        <div class="stat-card">
          <div class="stat-icon-circle">
            <span class="stat-logo">🖥️</span>
          </div>
          <p style="font-weight: bold;">75412</p>
          <p class="stat-text"><a href="/res" style="color: inherit; text-decoration: none;">Researchers</a></p>
        </div>
        <div class="stat-card">
          <div class="stat-icon-circle">
            <span class="stat-logo">🧪</span>
          </div>
          <p style="font-weight: bold;">6713</p>
          <p class="stat-text">Orphan Drugs</p>
        </div>

      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Genesis. All rights reserved.</p>
  </footer>
  <script src="/js/script.js"></script>
  <script src="/js/search.js"></script>
</body>

</html>