<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Genesis</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body class = "fade-in">
  <header>
    <div class="profile-image-container">
      <img src="/images/profile.jpg" alt="User Profile" class="profile-image" />
      <a href="user.html" class="profile-button-link">
      <button class="profile-button">User Profile</button>
      </a>
    </div>


    <img src="/images/sym.png" alt="Genesis Symbol" class="center-image" />
    <h1 style="font-size: 100px;">Genesis</h1>
    <p>Your journey begins here.</p>
  </header>

  <footer>
    <p>&copy; 2025 Genesis. All rights reserved.</p>
  </footer>
<script src="/js/script.js"></script>
</body>
</html>